<!DOCTYPE html>
<html>
    <header>
        <title>Hit the Stone</title>
        <link href = "/style/game.css" rel = "stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </header>
    <body>
        <div class = "container-fluid">
            <header>
                <div class = "row bg-dark text-white text-center" style = "padding:10px;">
                    <div class = "col-10">
                        <h5 class = "align-middle">🥌 Bubble Shot!</h5>
                    </div>
                </div>
            </header>
        </div>
        <% if(!session.user){%>
            <div class="alert alert-danger" role="alert">
                If you want to play this game, You should login first!<br><a href="/" class="alert-link">Go to main</a>
            </div>
        <% } else{%>
        <div style = "display:flex"> 
            <div class="progress" style = "width: 22%; margin-right:1%; margin-left: 1%">
                <div id = "hpbar" class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100</div>
            </div>
            <div class="progress" style = "width: 22%">
                <div id = "o2bar" class="progress-bar bg-info" role="progressbar" style="width: 100%; display: none;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100</div>
            </div>
        </div>

        <div style = "display:flex;" id = 'browntiggerfather'>
            <canvas id = 'canvas'></canvas>
            <div id = 'browntigger'>
                <div><h3 style = "text-align: center;">Chatroom</h3></div>
                <div>
                    <ul id = "chatBox">
                    </ul>
                </div>
                <div>
                    <form action = "javascript:sendMessage()">
                        <input type = "text" id = "text" autocomplete="off">
                        <input type = "submit" class = "btn btn-success" value = 'send'>
                    </form>
                </div>
            </div>
        </div>

        <script>
            var nickname = "<%= session.user.nickname %>";
            
            function serverDisconnect(){
                let canvas = document.getElementById('canvas');
                let bt = document.getElementById('browntigger');
                let btfather = document.getElementById('browntiggerfather');
                let warn = document.createElement('div');
                warn.setAttribute('class', 'alert alert-danger');
                warn.textContent = 'It\'s problem to connecting server';
                canvas.style.display = 'none';
                bt.style.display = 'none';
                btfather.appendChild(warn);
            }
        </script>
        
        <script src = "/script/socket.io.js"></script>
        <script>
            var seed, noiseGenerator, camera, renderer, app;
            var text = document.getElementById('text');
            var chatBox = document.getElementById('chatBox');
            var sendBtn = document.getElementById('sendBtn');
            var canvas = document.getElementById('canvas');
            var hpbar = document.getElementById('hpbar');

            var socket = io();
            var myInfo;
            var othersInfo;

            function drawFence(gameStatus){
                let mapCen = gameStatus.center;
                let mapRadius = gameStatus.radius;
                ctx.strokeStyle = "white";
                ctx.beginPath();
                ctx.arc(mapCen.x, mapCen.y, mapRadius, 0, Math.PI*2);
                ctx.stroke();
                ctx.closePath();
            }

            function hpbarDraw(){
                let o2bar = document.getElementById('o2bar');
                hpbar.setAttribute('aria-valuenow', player.health);
                hpbar.setAttribute('style', `width: ${Math.floor(player.health)}%`);
                hpbar.textContent = Math.floor(player.health);
                o2bar.setAttribute('aria-value', player.survivtime);
                o2bar.setAttribute('style', `width: ${Math.floor(player.survivtime)}%`);
                o2bar.textContent = Math.floor(player.survivtime);

            }

            function checkValidKey(e){
                /*
                    left: 37 || up: 38 || right: 39 || down: 40
                    a: 65 || w: 87 || d: 68 || s: 83
                    spacebar: 32
                */
                let arrowKey = new Array(37, 38, 39, 40);
                let wasdKey = new Array(87, 65, 83, 68);
                let spacebar = 32;
                let ret;
                ret =  (text !== document.activeElement && (arrowKey.includes(e.keyCode))|| (wasdKey.includes(e.keyCode)));
                if(e.keyCode == 32){
                    if(app.checkPlayerTile({x: player.pos.x, y:player.pos.y})== 2){
                        let o2bar = document.getElementById("o2bar");
                        if(!player.underwater)
                            o2bar.style.display =  'block';
                        else
                            o2bar.style.display = 'none';

                        ret |= true;
                    }
                    else ret |= false;
                }
                return ret;
            }

            // Bullet Mode
            canvas.addEventListener('click', (e)=>{
                let mousePointer = new Vector2(e.offsetX, e.offsetY);
                mousePointer = mousePointer.add(player.pos.sub(new Vector2(canvas.width/2, canvas.height/2)));
                let dir = mousePointer.sub(player.pos).unit();
                let bullet = new Bullet(player.pos.x, player.pos.y, dir.x, dir.y, player.nickname);
                let info = {
                    socket: socket.id,
                    bullet: JSON.stringify(bullet)
                }
                socket.emit('shooting', info);
            });

            document.body.addEventListener('keydown', (e)=>{
                if(checkValidKey(e)){
                    let inputNode = {
                        player: nickname,
                        socket: socket.id,
                        code: e.keyCode
                    };
                    socket.emit('input', inputNode);
                }
            });

            function sendMessage(){
                if(text.value){
                    var message_node = {nickname: nickname, message: text.value};
                    socket.emit('chatting', message_node);
                    text.value = '';
                }
            }

            socket.on('connect', ()=>{
                socket.emit('initial', nickname);
            });

            socket.on('disconnect', ()=>{
                serverDisconnect();
                socket.close();
            });
            
            socket.on('initialsetting', (initialInfo)=>{
                let gameStatus = initialInfo.gameStatus;
                seed = initialInfo.seed;
                myInfo = gameStatus.me;
                othersInfo = gameStatus.others;
                noiseGenerator = new NoiseGenerator(seed);
                camera = new Camera({x: 1362, z: 1825});
                renderer = new Renderer();
                app = new Application('', renderer, noiseGenerator, camera);
                player = new Player(myInfo.x, myInfo.y, nickname, myInfo.color);

                ctx.save();
                ctx.translate(0, 0);
                ctx.translate(canvas.width/2-myInfo.x, canvas.height/2-myInfo.y);
                app.runLoop();
                player.draw();
                for(let key of Object.keys(othersInfo)){
                    let other = othersInfo[key];
                    let op = new Player(other.x, other.y, '', other.color);
                    op.draw();
                }
                ctx.restore();
            });

            socket.on('update', (gameStatus)=>{
                myInfo = gameStatus.me;
                player.setPos(myInfo.x, myInfo.y);
                player.setHealth(myInfo.health);
                player.setServivtime(myInfo.survivtime);
                player.underwater = myInfo.underwater;
                ctx.save();
                ctx.translate(canvas.width/2-myInfo.x, canvas.height/2-myInfo.y);
                app.runLoop();
                drawFence(gameStatus);
                player.draw();
                hpbarDraw();
                othersInfo = gameStatus.others;
                for(let key of Object.keys(othersInfo)){
                    let other = othersInfo[key];
                    let op = new Player(other.x, other.y, '', other.color);
                    let distance = player.pos.sub(op.pos).mag();
                    if(!other.underwater || (app.checkPlayerTile({x: player.pos.x, y:player.pos.y})== 2) && distance <= 150)
                        op.draw();
                }
                for(let bullet of gameStatus.bullet){
                    let bo = new Bullet(bullet.pos.x, bullet.pos.y, bullet.dir.x, bullet.dir.y, bullet.owner);
                    bo.draw();
                }
                ctx.restore();
            });

            socket.on('chat', function(message_node){
                let itembox = document.querySelectorAll('#chatBox li');
                let item = document.createElement('li');
                if(itembox.length == 15)
                    itembox[0].remove();
                item.textContent = `${message_node.nickname}: ${message_node.message}`;
                chatBox.appendChild(item);
            });
        </script>
        <script src = "/script/character.js"></script>
        <script src = "/script/game.js"></script>
        <script src="/script/mapgen/constant.js"></script>
        <script type="text/javascript" src="/script/mapgen/math.js"></script>
        <script type="text/javascript" src="/script/mapgen/noisegenerator.js"></script>
        <script type="text/javascript" src="/script/mapgen/terraingenerator.js"></script>
        <script type="text/javascript" src="/script/mapgen/mesh.js"></script>
        <script type="text/javascript" src="/script/mapgen/pixel.js"></script>
        <script type="text/javascript" src="/script/mapgen/chunk.js"></script>
        <script type="text/javascript" src="/script/mapgen/chunkmanager.js"></script>
        <script type="text/javascript" src="/script/mapgen/world.js"></script>
        <script type="text/javascript" src="/script/mapgen/renderer.js"></script>
        <script type="text/javascript" src="/script/mapgen/application.js"></script>
        <% }%>
    </body>
</html>